#Requirements file for farmsubsidy scrapers in Python

#If you have requirements for your scrapers, process like this:
#1) Look here, if the requirement is already listet here
#2)   If requirement is listed:
#2.1) Try to run your code with the listed version number,so that we run into as few 
#     versioning conflicts as possible
#2.2) Add the country code of your scraper on top of the requirement, eventually together with 
#     an additional note
#3)   If requirement is not listed:
#     Add requirement together with version number (!) and country code


#Example entry
##DE
##ES (added 2014-01-23, @Fabricio2394)
#lxml==3.3

#AT
cssselect==0.7.1
ipython==0.13.1
lxml==3.0.1
pyquery==1.2.4
requests==0.14.2
